# ========= ENV =========
.env

# ========= Python =========
__pycache__/
*.py[cod]
*$py.class

# ========= Virtual Env =========
venv/
.venv/
env/

# ========= Data =========
data/pdfs/
data/chroma_db/
data/pdfs/*
!data/pdfs/.gitkeep
data/chroma_db/*
!data/chroma_db/.gitkeep

# ========= IDE =========
.vscode/
.idea/

# ========= Logs =========
*.log

# ========= OS =========
.DS_Store
Thumbs.db